@{
  Layout = "_Layout";
}

@model Registrar.Models.Student;

<h2>Student Accounts</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This student does not contain any knowledge</p>
}
else
{
  <h4>Students courses:</h4>
  <section class="student-list">
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Course.Name} {join.Course.CourseNum}", "Details", "Courses", new { id = join.Course.CourseId }, @join.PassFail ? new {@Class = "student-list-item pass"} : new {@Class = "student-list-item fail"})</li>
  }
  </section>
}


<nav>
  <p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId }, new { @Class = "btn btn-primary"})</p>
  <p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId }, new { @Class = "btn btn-primary"})</p>
  <p>@Html.ActionLink("Add Student To Another Course", "AddCourse", new { id = Model.StudentId }, new { @Class = "btn btn-primary"})</p>
</nav>
