@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Student Account Page: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Select department")
  @Html.DropDownList("DepartmentId")

  <input type="submit" value="Save" />

  @if(@Model.JoinEntities.Count == 0)
{
  <p>This student does not contain any knowledge</p>
}
else
{
  <h4>Students courses:</h4>
  <section class="student-list">
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Course.Name} {join.Course.CourseNum}", "Details", "Courses", new { id = join.Course.CourseId }, new {@Class = "student-list-item"})| @join.PassFail</li>
    <div class="flex-btn">
      @using (Html.BeginForm("DeleteCourse", "Students"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="Delete" class="btn btn-primary"/>
      }
      @using (Html.BeginForm("UpdatePassFail", "Students"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="update" class="btn btn-primary" />
      }
    </div>
  }
  </section>
}
}
