@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Student Account Page.</h2>

<h4> @Html.DisplayFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Course to enroll")
  @Html.DropDownList("CourseId")

  @Html.Label("Select department")
  @Html.DropDownList("DepartmentId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>